JSONRpc Provider : "https://filecoin-hyperspace.chainstacklabs.com/rpc/v0"
Block Explorer: "https://hyperspace.filfox.info/en"
chain Id {hyperspace testnet}: 3141
Token symbol : tFIl
Name : Filecoin Hyperspace

fake usdc contract address : "t410fkwsi7huc7uwc6v45ekunpohc3ykrqipihwj2s7y"
eth address: "0x55a48F9E82FD2C2f579D22a8D7B8e2dE151821e8" ---> fake usdc

cyan color: rgba(58,223,174,255) #3adfae
main text and border: rgba(1,83,181,255)   #0153b5
blue : 