JSONRpc Provider : "https://filecoin-hyperspace.chainstacklabs.com/rpc/v0"
Block Explorer: "https://hyperspace.filfox.info/en"
chain Id {hyperspace testnet}: 3141
Token symbol : tFIl
Name : Filecoin Hyperspace

fake usdc contract address : "t410fkwsi7huc7uwc6v45ekunpohc3ykrqipihwj2s7y"
eth address: "0x55a48F9E82FD2C2f579D22a8D7B8e2dE151821e8" ---> fake usdc

pinsurance test address : 0xD4BcCee8827e24884e5e774a6c1eBd9C461Cc52f ETH

cyan color: rgba(58,223,174,255) #3adfae
main text and border: rgba(1,83,181,255)   #0153b5
blue : 

old deployed contract which have data : 0x75Ca047Fc83A0d3F1e26Faf81A1F30F6C74Bd787